.Resume {
    box-sizing: border-box;
    width: 100vw !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}

.ResumeBlob {
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    background-color: #4b939892;
    top: -86%;
    left: -15%;
    width: 80% !important;
    height: 140vh;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    z-index: -999;
}

.ResumeInner {
    box-sizing: border-box;
    padding: 10px 20px;
}

.ResumeInnerHeader {
    color: white !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showResumes {
    cursor: pointer;
    font-size: .8rem;
    font-weight: 500;
    z-index: 999;
}

.BodyWrapper {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgb(255, 250, 250);
    margin-top: 20px;
    padding: 0;
    width: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 12px 11px -7px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 12px 11px -7px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 12px 11px -7px rgba(0,0,0,0.29);

}

.BodyWrapper form {
    margin: 2rem 0;
    padding: 10px 20px;
}

.BodyWrapper h4 {
    color: var(--navColor2);
    text-align: center;
}

.BuildNavigator {
    background-color: #c0d1d4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;   
    padding: 0;
    height: 50px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.BuildNavigator div {
    cursor: pointer;
    color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/3);
    height: 100%;
    font-size: .8rem;
    font-weight: 600;
}

.BuildNavigator div>span {
    background-color: rgba(255, 255, 255, 0.767);
    display: flex;
    font-size: .7rem;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ActiveNav {
    background-color: var(--navColor2);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 10px 2px 5px -4px rgba(0,0,0,0.29);
    -webkit-box-shadow: 10px 2px 5px -4px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 2px 5px -4px rgba(0,0,0,0.29);
}

.DetachedLabels {
    display: inline-flex;
    align-items: center;
    margin-left: 19px;
    height: .8rem;
    font-size: .7rem;
    font-weight: 500;
    color: #14225188;
    border-radius: 4px;
    padding: 1px 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.CenteredElem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.Segment {
    padding: 10px;
    margin: 20px 0;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100% !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; 
    box-shadow: -1px 1px 44px -3px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: -1px 1px 44px -3px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: -1px 1px 44px -3px rgba(0, 0, 0, 0.16);
}

.TemplateContainer {
    height: 200px;
    margin-bottom: 20px;
}

.carouselInner {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carouselInner h5 {
    color: var(--resumeColorLight);
}

.carouselMiddle, .carouselMiddleActive {
    background-size: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-sizing: border-box;
    color: var(--navColor2);
    cursor: pointer;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
}

.carouselMiddle {
    border: 5px solid var(--resumeColorLight);
}

.carouselMiddleActive {
    border: 5px solid var(--navColor2);
}

.ResponsivePrintView {
    background-color: white;
    box-shadow: outset;
    height: auto;
    margin: 20px auto;
    box-shadow: 0 0 0 1px gray, 0 0 10px gray;
}                           

  
@media (min-width: 768px) {
    .ResponsivePrintView {
        width: 100%;
        margin: 10px auto;
    }
}

@media (min-width: 1024px) {
    .ResponsivePrintView {
        width: 70%;
        margin: 15px auto;
    }
}
