.fishContainer {
    background-color: white;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: 0.87rem;
    font-weight: 500;
    padding: 0;
    overflow-y: hidden;
}

.topCont {
    width: 100%;
    background-color: #929292;
    color: white;
    height: 11rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    margin-bottom: 0
}

.topCont h1 {
    font-weight: 500;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.LeftBg {
    background-color: #F3E0DC;
    border-radius: 2px;
    margin: -8rem auto 0;
    z-index: 2;
    width: 85%;
    height: 1000%;
    padding:  1rem;
    padding-top: 2rem;
}

.LeftBg h3 {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    color: black;
    margin-bottom: 0;
    margin-top: 60px;
}

.LeftBg hr {
    width: 100%;
    border: 1px solid #EDEDED;
    margin-bottom: 20px;
}

.ImgContainer {
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    overflow: hidden;
}

.RightBg {
    background-color: white;
    border-top-left-radius: 100px;
    z-index: 1;
    padding:  0;
}

.RightBg h1 {
    font-size: 3rem;
    font-weight: 400;
}

.RightBg h3 {
    color: #a8a7a7;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 15px auto;
    text-align: center;
}

.RightBg hr {
    width: 15%;
    margin: 0 auto;
    border: 1px solid #a8a7a7;
}

.RightBg h4 {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    color: black;
    text-align: center;
    width: 70%;
    background-color: #EDEDED;
    padding: 3px;
    margin: 0 auto 20px;
}

.RightBg h5 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    margin: 0;
}

.RightBg h6 {
    margin: 0;
}

.Sections {
    margin-bottom: 25px;
}

.link {
    color: rgb(177, 71, 1);
    text-decoration: none;
}

.Icons {
    margin-right: 5px;
    color: #929292;
    margin-bottom: -4px;
}

.SkillItems {
    text-transform: uppercase;
    font-weight: 400;
    font-size: .85rem;
}

@media (max-width: 1024px) {
    .ImgContainer {
        height: 8rem;
        width: 8rem;
    }
}