.OulineGreen {
    padding: .5rem 2rem;
    border-radius: 15px;
    border: 2px solid var(--lightModeGreen);
    color: var(--lightModeGreen) !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-decoration: none !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.LogOut {
    padding: .5rem 2rem;
    border-radius: 15px;
    border: 2px solid var(--lightModeGreen);
    color: var(--lightModeGreen) !important;
    cursor: pointer;
    margin-top: -10px;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-decoration: none !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ButtonSubmitBlack, .ButtonTransparent, .ButtonTransparentRed  {
    padding: 0 1.7rem;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.ButtonOutlineGreenWithDiffStyle {
    background-color: white;
    border: 1px solid var(--navColor1);
    color: var(--navColor1);
}

.ButtonOutlineGreenWithDiffStyle:hover {
    box-shadow: none;
    box-shadow: 1px 3px 16px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 3px 16px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 16px -8px rgba(0,0,0,0.75);
}

.ButtonSubmitGreen, .ButtonOutlineGreenWithDiffStyle {
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: .9rem;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.ButtonSubmitGreen {
    background-color: var(--navColor2);
    border: none;
    color: white;
    box-shadow: 1px 3px 16px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 3px 16px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 16px -8px rgba(0,0,0,0.75);
}

.ButtonSubmitGreen:hover {
    box-shadow: none;
}

.ButtonSubmitBlack {
    background-color: black;
    color: white;
}

.ButtonSubmitBlack:hover {
    background-color: rgba(0, 0, 0, 0.685);
}

.ButtonTransparent {
    background-color: rgba(255, 255, 255, 0.329);
    color: black;
}

.ButtonTransparent:hover {
    background-color: rgb(255, 255, 255);
}

.ButtonTransparentRed  {
    background-color: #fff;
    border: 2px solid rgba(216, 7, 7, 0.829);
    color: rgb(160, 0, 0);
    font-weight: 600 !important;
}

.ButtonTransparentRed:hover  {
    background-color: rgba(255, 255, 255, 0.329);
    color: rgba(216, 7, 7, 0.651);
    border: 2px solid rgba(216, 7, 7, 0.493);
}

.ButtonCard {
    background-color: var(--navColor2);
    border-radius: 6px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    width: 70%;
    min-width: 350px;
    margin: 20px auto;
    text-align: center;
    transition: all 0.3s ease-in;
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: -1px 1px 0px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 0px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 0px -1px rgba(0,0,0,0.75);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.ButtonCard:hover {
    box-shadow: -1px 1px 44px -3px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: -1px 1px 44px -3px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: -1px 1px 44px -3px rgba(0, 0, 0, 0.16);
}


.ButtonCard hr {
    width: 30px;
}

.ButtonThin {
    background: rgb(62,143,147);
    background: linear-gradient(0deg, rgba(62,143,147,1) 0%, rgba(192,209,212,1) 61%);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    font-size: .8rem;
    font-weight: 500;
    white-space: nowrap;
    width: 110px;
    max-height: 22px;
}

/* Smaller Screens */
@media (max-width: 900px)  {
    .ButtonSubmitBlack {
        padding: 0 1rem;
    }

    .ButtonCard {
        margin: 0 auto;
        width: 100%;
        box-shadow: 0px -5px 6px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px -5px 6px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -5px 6px -1px rgba(0,0,0,0.75);
    }

    .ButtonCard:hover {
        box-shadow: -2px -30px 0px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: -2px -30px 0px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px -30px 0px -1px rgba(0,0,0,0.75);
    }
}

