.OulineGreen {
    padding: .5rem 2rem;
    border-radius: 15px;
    border: 2px solid var(--lightModeGreen);
    color: var(--lightModeGreen) !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-decoration: none !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.LogOut {
    padding: .5rem 2rem;
    border-radius: 15px;
    border: 2px solid var(--lightModeGreen);
    color: var(--lightModeGreen) !important;
    cursor: pointer;
    margin-top: -10px;
    font-size: 18px !important;
    font-weight: 500 !important;
    text-decoration: none !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ButtonSubmitBlack, .ButtonTransparent {
    padding: 0 1.7rem;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


.ButtonSubmitGreen {
    border-radius: 8px;
    border: none;
    background-color: var(--navColor2);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: .9rem;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    box-shadow: 1px 3px 16px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 3px 16px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 16px -8px rgba(0,0,0,0.75);
}

.ButtonSubmitGreen:hover {
    box-shadow: none;
}


.ButtonSubmitBlack {
    background-color: black;
    color: white;
}

.ButtonSubmitBlack:hover {
    background-color: rgba(0, 0, 0, 0.685);
}

.ButtonTransparent {
    background-color: rgba(255, 255, 255, 0.329);
    color: black;
}

.ButtonTransparent:hover {
    background-color: rgb(255, 255, 255);
}

/* Smaller Screens */
@media (max-width: 900px)  {
    .ButtonSubmitBlack {
        padding: 0 1rem;
    }
}

