@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primaryColor: #fff;
  --lightModeGreen: #6FCBD1;
  --navColor1: #3E8F93;
  --navColor2: #56A8AC;
  --navColor3: #5fbec5;
  --navColor4: #7CC9CC;
  --navColor5: #99E1E4;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333333;
  background: #FFF;
  font-family: Inter, sans-serif;
  padding: 0;
}

h1 {
  font-size: 2.2rem;
}

.error {
  font-size: .8rem;
  color: rgb(216, 7, 7);
  margin: 10px auto;
}
